{% extends 'html/header.html' %}
{% block title %}CRUD operations{% endblock %}
{% block content %}
</div>
			<div class="card col-md-8 mt-3 mx-2">
				<h3 class="p-3 bg-warning text-center text-light mt-3">user details</h3>
				<table class="table table-striped table-hover table-borderless">
					<tr class="bg-dark text-light">
						<td>s.no.</td>
						<td>name</td>
						<td>email id</td>
						<td>age</td>
						<td>actions</td>
					</tr>
					{% for i in info %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{i.username}}</td>
						<td>{{i.email}}</td>
						<td>{{i.age}}</td>
						<td><a href="" class="btn btn-info">update</a><a href="{% url 'delete' i.id %}" class="btn btn-success">delete</a>
					</tr>
					{% endfor %}
					</table>
				</div>
			{% endblock %}